.home-container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 20px 0 20px 0;
}

.header img {
    width: 15%;
}

.header .visible {
    display: flex;
    align-items: center;
    margin-right: 150px;

    font-weight: 700;
    font-size: 16px;

    color: #1D0D09;
    text-decoration: none;

    transition: 200ms;
}

.header .visible:hover {
    opacity: 0.9;
}

.header .visible svg {
    margin-left: 5px;
}

.header .hidden {
    display: flex;
    align-items: center;
    margin-left: 150px;

    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;   

    font-weight: 700;
    font-size: 16px;

    color: #FFF;
    text-decoration: none;
    cursor: default;
}

.header .hidden svg {
    margin-left: 5px;
}

.donate-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 28px;
    margin-bottom: 50px;

    background-color: #1D0D09;
    border-radius: 8px;

    -webkit-box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.51);
    -moz-box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.51);
    box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.51);
}

.donate-card h1 {
    font-weight: 700;
    color: #FFF;

    margin-bottom: 30px;
}

.donate-card h1 svg {
    margin-right: 15px;
}

.progress-bar{
    display: flex;

    margin-bottom: 10px;

    width: 50%;
    height: 15px;
    border-radius: 7px;
    background-color: #FFF;
  }
  
  .progress-bar::before{
    content: "";
    width: 5%;
    border-radius: 7px;
    background-color: green;
  }

.donate-card .money {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 60px;

    font-weight: 700;
    color: #FFF;
}

.donate-card .money h3 {
    margin-left: 150px;
    margin-right: 150px;
}

.donate-card .contribute {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #FFF;

    margin-bottom: 30px;
}

.donate-card .contribute svg {
    margin-left: 15px;
}

.donate-card .contributions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.donate-card .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-card .cards .img-link{
    margin-left: 50px;
    margin-right: 50px;
}

.donate-card .cards img{
    width: 100px;
}

.donate-card .link {
    text-decoration: none;
}

.donate-card .text-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #FFF;

    margin-top: 3px;
    margin-right: 4px;
}

.project {
    display: flex;
    flex-direction: column;

    margin-bottom: 50px;
}

.project h1 {
    margin-bottom: 20px;
}

.project .description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.project h3 {
    width: 50%;
}

.project img {
    width: 360px;

    -webkit-box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.51);
    -moz-box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.51);
    box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.35);

    border-radius: 8px;
}

.communities {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1120px;
    margin-bottom: 50px;
}

.communities h1 {
    margin-bottom: 20px;
}

.communities .communities-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}

.communities .community {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 28px;
    background: #1D0D09;

    -webkit-box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.51);
    -moz-box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.51);
    box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.35);

    border-radius: 8px;
}

.communities h3 {
    font-weight: 700;
    color: #FFF;

    margin-bottom: 20px;
}

.communities .communities-cards .community img {
    width: 75%;
    height: 100px;

    filter: grayscale(100%);

    margin-bottom: 20px;
}

.communities h4 {
    text-align: justify;
    font-weight: 500;
    color: #FFF;

    margin-bottom: 20px;
}

.communities h5 {
    text-align: center;
    font-weight: 500;
    color: #FFF;
}

.distribution {
    display: flex;
    flex-direction: column;

    margin-bottom: 50px;
}

.distribution h1 {
    margin-bottom: 20px;
}

.distribution .description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.distribution h3 {
    width: 50%;
}

.distribution img {
    width: 360px;

    -webkit-box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.51);
    -moz-box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.51);
    box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.35);

    border-radius: 8px;
}

.accountability {
    display: flex;
    flex-direction: column;

    margin-bottom: 50px;
}

.accountability h1 {
    margin-bottom: 20px;
}

.accountability .description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.accountability h3 {
    width: 50%;
}

.accountability img {
    width: 360px;

    -webkit-box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.51);
    -moz-box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.51);
    box-shadow: 8px 8px 14px -2px rgba(0,0,0,0.35);

    border-radius: 8px;
}

.creators {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 50px;
}

.creators h1 {
    margin-bottom: 20px;
}

.creators .description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.creators h3 {
    width: 50%;
}

.creators img {
    width: 80px;

    margin-right: 10px;
    margin-left: 10px;
}